<%= form_for @trial_lesson, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @trial_lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trial_lesson.errors.count, "error") %> prohibited this trial_lesson from being saved:</h2>

      <ul>
      <% @trial_lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= t("trial_lessons.#{controller.action_name}.title") %></legend>

    <div class="control-group">
      <%= f.label :trial_on, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :trial_on %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :time_slot_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :time_slot_id, current_user.current_account.time_slots, :id, :name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :padma_contact_id, :class => 'control-label' %>
      <div class="controls">
        <% initialize_select = 
            if @trial_lesson.contact 
              {:data => {:name => "#{@trial_lesson.contact.padma_contact.first_name} #{@trial_lesson.contact.padma_contact.last_name}"}} 
            else
              {}
            end 
        %>
        <%= f.hidden_field :padma_contact_id, initialize_select %>
      </div>
    </div>

    <%= javascript_tag do %>

      function contactFormatResult(contact) {
          var markup = "<div>" + contact.name + "</div>";
          return markup;
      }

      function contactFormatSelection(contact) {
          return contact.name;
      }

      $("#trial_lesson_padma_contact_id").select2({
        placeholder: "<%= t('trial_lessons.search_contact') %>",
        minimumInputLength: 3,
        ajax: {
          url: "http://<%= Contacts::HOST %>/v0/contacts/search_for_select",
          type: 'POST',
          dataType: 'jsonp',
          quietMillis: 100,
          data: function (term, page) { // page is the one-based page number tracked by Select2
            return {
              page: page, 
              per_page: 10,
              sort: { 
                first_name: "asc", 
                last_name: "asc"
              },
              username: "<%= current_user.username %>", 
              account_name: "<%= current_user.current_account.name %>",
              only_name: true, 
              full_text: term, 
              app_key: "844d8c2d20a9cf9e97086df94f01e7bdd3d9afaa716055315706f2e31f40dc097c632af53e74ce3d5a1f23811b4e32e7a1e2b7fa5c128c8b28f1fc6e5a392015"
            };
          },
          results: function (data, page) {
            var more = (page * 10) < data.total; // whether or not there are more results available
            
            // notice we return the value of more so Select2 knows if more results can be loaded
            return {results: data.collection, more: more};
          }
        },
        initSelection: function(element, callback) {
          // the input tag has a value attribute preloaded that points to a preselected movie's id
          // this function resolves that id attribute to an object that select2 can render
          // using its formatResult renderer - that way the movie name is shown preselected
          var id=$(element).val();
          var name=$(element).attr("data-name");
          if (id!=="") {
            callback({"id": id, "name": name});
          }
        },
        formatResult: contactFormatResult, // omitted for brevity, see the source of this page
        formatSelection: contactFormatSelection, // omitted for brevity, see the source of this page
        dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
        escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
      });

    <% end %>

    <div class="control-group">
      <%= f.label :padma_uid, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :padma_uid, current_user.current_account.usernames %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :assisted, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :assisted %>
      </div>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
