<% content_for :title do t("trial_lessons.index.title") end -%>
<%- breadcrum t("trial_lessons.index.title") -%>
<div class='attendance-container'>
  <nav class='attendance-navbar margin-bottom-10' role='navigation'>
    <div class='filter-controls'>
      <div class='btn-group btn-group-tofrom'>
        <%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>'.html_safe, trial_lessons_path(params.merge({ref_date: @ref_date-1.week})), class: 'btn btn-secondary btn-sm' %>
        <%= link_to '<span class="glyphicon glyphicon-chevron-right"></span>'.html_safe, trial_lessons_path(params.merge({ref_date: @ref_date+1.week})), class: 'btn btn-secondary btn-sm' %>
      </div>
    </div>
    
    <div class='filter-controls filter-controls-right'>
      <%= link_to t('trial_lessons.index.new'), new_trial_lesson_path, class: 'btn btn-primary' %>
    </div>
  </nav>

  <section class='attendance-body'>
    <% (monday(@ref_date)..sunday(@ref_date)).each do |date| %>
      <div class="panel panel-default">
        <div class="panel-heading <%= 'current-day' if date == Time.zone.today %>">
          <%= l(date, format: :in_context).capitalize %>
          <% if date.month != Date.today.month -%>
            (<%= l(date, format: :month) %>)
          <% end -%>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @trial_lessons.select{|t| t.trial_on == date }.group_by{|t| t.time_slot_id}.each do |time_slot_id, trials| %>
              <% time_slot = TimeSlot.find(time_slot_id) %>
              <div>
                <%= render 'trial', time_slot: time_slot, date: date, trials: trials %>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </section>
</div>