<p id="notice"><%= notice %></p>

<legend><%= t('trial_lessons.show.title') %></legend>

<p>
  <b><%= TrialLesson.human_attribute_name :trial_on %></b><br>
  <%= @trial_lesson.trial_on %>
</p>

<p>
  <b><%= TrialLesson.human_attribute_name :time_slot %></b><br>
  <%= @trial_lesson.time_slot.name %>
</p>

<p>
  <b><%= TrialLesson.human_attribute_name :contact %></b><br>
  <%= @trial_lesson.contact.padma_id %>
</p>

<p>
  <b><%= TrialLesson.human_attribute_name :padma_uid %></b><br>
  <%= @trial_lesson.padma_uid %>
</p>

<p>
  <b><%= TrialLesson.human_attribute_name :assisted %></b><br>
  <%= @trial_lesson.assisted %>
</p>

<%= link_to 'Edit', edit_trial_lesson_path(@trial_lesson) %> |
<%= link_to t('back'), trial_lessons_path %>
