<%= form_for @time_slot, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @time_slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_slot.errors.count, "error") %> prohibited this time_slot from being saved:</h2>

      <ul>
      <% @time_slot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend><%= t("time_slots.#{controller.action_name}.title") %></legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :start_at, :class => 'control-label' %>
      <div class="controls">
        <%= f.time_select :start_at %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :end_at, :class => 'control-label' %>
      <div class="controls">
        <%= f.time_select :end_at %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :padma_uid, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :padma_uid, current_user.current_account.usernames %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :cultural_activity, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :cultural_activity %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :schedule, :class => 'control-label' %>
      <div class="controls">
        <% Date::DAYNAMES.each do |dayname| %>
          <%= f.label dayname.downcase.to_sym, :class => 'checkbox inline' do %>
            <%= dayname %>
            <%= f.check_box dayname.downcase.to_sym %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :padma_contacts, :class => 'control-label' %>
      <div class="controls">
        <ul id="time_slot_students">
          <% @time_slot.contacts.each do |c| %>
            <li>
              <%= hidden_field_tag "time_slot[padma_contacts][]", c.padma_id %><%= link_to "#{c.padma_contact.first_name} #{c.padma_contact.last_name}", "#", :class => "delete" %>
            </li>
          <% end %>
        </ul>
      </div>  
    </div> 
  </fieldset>

  <div class="control-group">
    <%= f.label :add_a_contact, :class => 'control-label' %>
    <div class="controls">
      <%= select_tag :padma_contacts_select, options_for_select({"" => :empty, "All students" => :all_students}.merge(Hash[current_user.current_account.usernames.map {|username| ["#{username}'s students", username].flatten}])) %> 
      <fieldset id="time_slot_padma_contacts">
        <%= render :partial => 'shared/padma_contacts' %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Show', @time_slot, :class => 'btn' if @time_slot.persisted? %>
    <%= link_to t('destroy'), @time_slot, :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
    <%= link_to 'Cancel', time_slots_path, :class => 'btn' %>
  </div>
<% end %>