<div class = "row" id="time_slot">
  <div class ="col-md-5 col-sm-9 col-xs-12 main_col_pad_none">
    <%= form_for @time_slot, :html => { :class => 'form-horizontal' } do |f| %>
      <% if @time_slot.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@time_slot.errors.count, "error") %> prohibited this time_slot from being saved:</h2>

          <ul>
          <% @time_slot.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-5 pad_none"><%= f.label :name, :class => 'control-label' %></div>
        <div class="col-md-8 col-sm-8 col-xs-7 left_pad_none">
          <%= f.text_field :name, class: "form-control", placeholder: "input name" %>
        </div>
      </div>
      <div class="row row_margin">
        <div class="col-md-4 col-sm-4 col-xs-5 pad_none">
          <%= f.label :start_at, :class => 'control-label' %>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-7 start_end_date">
          <%= f.time_select :start_at, {:minute_step => 05} %>
        </div>
      </div> 

      <div class="row row_margin">
        <div class="col-md-4 col-sm-4 col-xs-5 pad_none">
          <%= f.label :end_at, :class => 'control-label' %>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-7 start_end_date">
          <%= f.time_select :end_at, {:minute_step => 05} %>
        </div>
      </div> 
      
      <div class="row row_margin">
        <div class="col-md-4 col-sm-4 col-xs-5 pad_none">
          <%= f.label :padma_uid, :class => 'control-label' %>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-7 instrutor_select">
          <%= f.select :padma_uid, current_user.current_account.usernames, {}, class: 'selectpicker' %>
        </div>
      </div>

      <div class="row row_margin">
        <div class="col-md-4 col-sm-4 col-xs-5 pad_none"><%= f.label :cultural_activity %></div>
        <div class="col-md-8 col-sm-8 col-xs-7 left_pad_none">
          <%= f.check_box :cultural_activity %>
        </div>
      </div>

      <div class="row row_margin">
        <div class="col-md-4 col-sm-4 col-xs-5 pad_none"><%= f.label :unscheduled %></div>
        <div class="col-md-8 col-sm-8 col-xs-7 left_pad_none">
          <%= f.check_box :unscheduled %>
        </div>
      </div>

      <div class="row row_margin">
        <div class="col-md-4 col-sm-4 col-xs-5 pad_none"><%= f.label :schedule, :class => 'control-label' %></div>
        <div class="col-md-8 col-sm-8 col-xs-7 left_pad_none">
          <%= select_tag "dayname", options_for_select(Date::DAYNAMES, already_selected_day_name), multiple: true, class: 'multiselect'%>
        </div>
      </div>

      <div class="row row_margin">
        <div class="col-md-4 col-sm-4 col-xs-5 pad_none"><%= f.label :padma_contacts, :class => 'control-label' %></div>
        <div class="col-md-8 col-sm-8 col-xs-7 left_pad_none">
          <ul id="time_slot_students">
            <% @time_slot.contacts.students_on(current_user.current_account).each do |c| %>
              <li>
                <%= hidden_field_tag "time_slot[padma_contacts][]", c.padma_id %><%= link_to "#{c.name}", "#", :class => "delete" %>
              </li>
            <% end %>
          </ul>
        </div>  
      </div> 
      </fieldset>

      <% if @time_slot.persisted? -%>
        <div class="row row_margin">
          <div class="col-md-4 col-sm-4 col-xs-5 pad_none"><%= f.label :add_a_contact %></div>
          <div class="col-md-8 col-sm-8 col-xs-7 left_pad_none">
            <%= select_tag :padma_contacts_select, options_for_select({"" => :empty, "All students" => :all_students}.merge(Hash[current_user.current_account.usernames.map {|username| ["#{username}'s students", username].flatten}])), class: 'selectpicker select_btn_width' %> 
            <%= image_tag("ajax-loader.gif", id:"loading") %>
            <fieldset id="time_slot_padma_contacts">
              <%= render :partial => 'shared/padma_contacts' %>
            </fieldset>
          </div>
        </div>
      <% end -%>

      <div class="form-actions row row_margin">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to 'Show', @time_slot, :class => 'btn' if @time_slot.persisted? %>
        <%= link_to t('destroy'), @time_slot, :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
        <%= link_to 'Cancel', time_slots_path, :class => 'btn' %>
      </div>
    <% end %>
  </div>
</div> 

