<%- breadcrum t("time_slots.index.title") -%>

<div id="search-field-container">
  <input id="timeslots-filter" class='form-control' type='text' placeholder='<%= t('.filter_timeslots') %>' />
</div>
<table id="timeslots" class="table table-striped">
  <thead>
    <tr>
      <td><%= TimeSlot.human_attribute_name(:name) %></td>
      <td><%= TimeSlot.human_attribute_name(:padma_uid) %></td>
      <td><%= TimeSlot.human_attribute_name(:start_at) %></td>
      <td><%= TimeSlot.human_attribute_name(:end_at) %></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @time_slots.each do |ts| %>
      <tr>
        <td><%= ts.name %></td>
        <td><%= ts.padma_uid %></td>
        <td><%= ts.start_at.strftime('%H:%M') %></td>
        <td><%= ts.end_at.strftime('%H:%M') %></td>
        <td>
          <%= link_to 'Show', ts, :class => 'btn btn-mini' %>
          <%= link_to t('edit'), edit_time_slot_path(ts), :class => 'btn btn-mini' %>
          <%= link_to t('destroy'), time_slot_path(ts), :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('time_slots.index.new'), new_time_slot_path, :class => 'btn btn-primary' %>
<%= link_to t('.vacancies'), vacancies_time_slots_path, :class => 'btn btn-default' %>
