<%- breadcrum t("time_slots.index.title") -%>

<div id="search-field-container" class='margin-bottom-20'>
  <input id="timeslots-filter" class='form-control' type='text' placeholder='<%= t('.filter_timeslots') %>' />
</div>
<table id="timeslots" class="table table-striped">
  <thead>
    <tr>
      <th><%= TimeSlot.human_attribute_name(:name) %></th>
      <th><%= TimeSlot.human_attribute_name(:padma_uid) %></th>
      <th><%= TimeSlot.human_attribute_name(:start_at) %></th>
      <th><%= TimeSlot.human_attribute_name(:end_at) %></th>
      <th><%= TimeSlot.human_attribute_name(:schedule) %></th>
      <th><%= TimeSlot.human_attribute_name(:contacts) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @time_slots.each do |ts| %>
      <tr>
        <td><%= ts.name %></td>
        <td><%= ts.padma_uid %></td>
        <td><%= ts.start_at.strftime('%H:%M') %></td>
        <td><%= ts.end_at.strftime('%H:%M') %></td>
        <td>
          <% if ts.unscheduled? -%>
            -
          <% else -%>
            <%= ts.time_slot_days %>
          <% end -%>
        </td>
        <td><%= ts.contacts.count %></td>
        <td class='td-actions'>
          <%= link_to 'Show', ts, :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('edit'), edit_time_slot_path(ts), :class => 'btn secondary btn-xs' %>
        </td>
        <td>
          <button type="button"
                  class="delete-btn btn btn-mini btn-link"
                  data-toggle="modal"
                  data-target="#delete_time_slot_<%= ts.id %>_modal">
            <%= t('destroy') %>
          </button>
        </td>
      </tr>
      <div id="delete_time_slot_<%= ts.id %>_modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><%= t('time_slots.index.delete_time_slot_modal.warning') %></h4>
            </div>
            <div class="modal-body">
              <p><%= t('time_slots.index.delete_time_slot_modal.youre_about_to_delete_time_slot', time_slot_name: ts.name).html_safe %></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('cancel') %></button>
              <%= button_to t('destroy'),
                          ts,
                          method: :delete,
                          #confirm: t('confirm'),
                          :onclick => "return confirm('#{t('confirm')}')",
                          class: 'btn btn-danger' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </tbody>
</table>

<%= link_to t('time_slots.index.new'), new_time_slot_path, :class => 'btn btn-primary' %>
<%= link_to t('.vacancies'), vacancies_time_slots_path, :class => 'btn btn-default' %>
