<%- breadcrum t("time_slots.index.title") -%>
<% content_for :title do t("time_slots.index.title") end -%>

<div id="search-field-container" class='margin-bottom-20'>
  <input id="timeslots-filter" class='form-control' type='text' placeholder='<%= t('.filter_timeslots') %>' />
</div>

<div class='attendance-container'>
  <nav class='attendance-navbar margin-bottom-10' role='navigation'>
    <div class="filter-controls">
      
    </div>
    
    <div class='filter-controls filter-controls-right'>
      <%= link_to t('time_slots.index.new'), new_time_slot_path, class: 'btn btn-primary' %>
    </div>
  </nav>

  <section class='attendance-body'>
    <% (1..7).each do |wday| %>
      <div class="panel panel-default">
        <div class="panel-heading" >
          <%= t('date.day_names')[wday%7].capitalize %>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @time_slots.select{|ts| ts.scheduled_for_wday?(wday%7) }
                          .sort_by{|ts| ts.start_at.strftime("%I:%M%p") }
                          .each do |time_slot| %>
              <div>
                <%= render 'time_slot', time_slot: time_slot %>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </section>
</div>

<% unless @unscheduled_time_slots.empty? %>
<table id="timeslots" class="table table-striped">
  <thead>
    <tr>
      <th><%= TimeSlot.human_attribute_name(:name) %></th>
      <th><%= TimeSlot.human_attribute_name(:padma_uid) %></th>
      <th><%= TimeSlot.human_attribute_name(:start_at) %></th>
      <th><%= TimeSlot.human_attribute_name(:end_at) %></th>
      <th><%= t('.quantity_signed_up') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @unscheduled_time_slots.each do |ts| %>
      <tr>
        <td>
          <%= link_to ts.name, ts %>
        </td>
        <td><%= ts.padma_uid %></td>
        <td><%= ts.start_at.strftime('%H:%M') %></td>
        <td><%= ts.end_at.strftime('%H:%M') %></td>
        <td><%= link_to ts.contacts.count, crm_contacts_list_url(ts), target: '_blank' %></td>
        <td class='td-actions'>
          <%= link_to t('edit'), edit_time_slot_path(ts), :class => 'btn secondary btn-xs' %>
        </td>
        <td>
          <%= link_to t('destroy'), ts, confirm: t('confirm'), method: :delete, class: 'delete-btn btn btn-mini btn-link' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>