<%= content_for :title do %>
  <%= @time_slot.name %>
<% end -%>
<%- breadcrum t("time_slots.show.title") -%>
<h4 class='page-header page-header-margin-middle'>
  <%= @time_slot.name %> (<%= @time_slot.start_at.strftime('%H:%M') %> - <%= @time_slot.end_at.strftime('%H:%M') %>)
  <% if @time_slot.cultural_activity -%>
    -
    <%= t('.is_a_cultural_activity') %>
  <% end -%>
</h4>
<p>
  <strong><%=TimeSlot.human_attribute_name :padma_uid %></strong>: <%= @time_slot.padma_uid %>
</p>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <%= link_to t('edit'), edit_time_slot_path(@time_slot), class: 'btn btn-xs btn-default pull-right' %>
          <%= t('.days_of_the_week') %>
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
        <% Date::DAYNAMES.each do |dayname| %>
          <%- if @time_slot.send(dayname.downcase.to_sym) %>
            <li class="list-group-item"><%= dayname %></li>
          <% end -%>
        <% end -%>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <%= link_to t('edit'), edit_time_slot_path(@time_slot), class: 'btn btn-xs btn-default pull-right' %>
          <%= t('.students') %>
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <% @students.each do |contact| -%>
            <li class="list-group-item"><%= link_to contact.name, "#{APP_CONFIG['crm-url']}/contacts/#{contact.padma_id}" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr />
<div class='form-actions'>
  <%= link_to t('back'), time_slots_path, :class => 'btn btn-link' %>
  <%= link_to t('destroy'), @time_slot, :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
</div>