<%= content_for :title do %>
  <%= @time_slot.name %>
<% end -%>
<%- breadcrum t("time_slots.show.title") -%>
<div class='timeslot-container'>
  <% if @time_slot.get_from_learn %>
    <%= link_to "Ver no Learn", "https://learn.derose.app/admin/in_person_lives/#{@time_slot.get_from_learn["id"]}", style: "margin-bottom: 25px;" %>
  <% else %>
    <%= link_to "Criar no Learn", sync_to_learn_time_slot_path(@time_slot), class: "btn btn-primary", style: "margin-bottom: 25px;" %>
  <% end %>
  <header class='timeslot-head'>
    <legend>
      <%= @time_slot.name %> (<%= @time_slot.start_at.strftime('%H:%M') %> - <%= @time_slot.end_at.strftime('%H:%M') %>)
      <% if @time_slot.cultural_activity -%>
        -
        <%= t('.is_a_cultural_activity') %>
      <% end -%>
    </legend>
  </header>
  <section class=''>
    <p class='timeslot-intructor'><strong><%=TimeSlot.human_attribute_name :padma_uid %></strong>: <%= @time_slot.padma_uid %></p>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= link_to t('edit'), edit_time_slot_path(@time_slot), class: 'btn btn-default btn-xs pull-right' %>
            <%= t('.days_of_the_week') %>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <% Date::DAYNAMES.each do |dayname| %>
                <%- if @time_slot.send(dayname.downcase.to_sym) %>
                  <li class="list-group-item"><%= dayname %></li>
                <% end -%>
              <% end -%>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= link_to t('edit'), edit_time_slot_path(@time_slot), class: 'btn btn-default btn-xs pull-right' %>
            <%= t('.students') %>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <% @students.each do |contact| -%>
                <li class="list-group-item"><%= link_to contact.name, "#{APP_CONFIG['crm-url']}/contacts/#{contact.padma_id}" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= t('.regular_participants') %>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <% @regular_participants.each do |contact| -%>
                <li class="list-group-item"><%= link_to contact.first_name, "#{APP_CONFIG['crm-url']}/contacts/#{contact.id}" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= t('.last_attendances') %>
          </div>
          <div class="panel-body">
              <% @attendances_by_month.each do |month, attendances| %>
                <b><%= I18n.l(month, :format => "%B") %></b>
                <ul class="list-group">
                  <% attendances.each do |att| -%>
                    <li class="list-group-item">
                      <%= I18n.l(att.attendance_on, format: :in_context) %> -
                      
                      <% if att.suspended? %>
                        <span class='results-count-attendances <%= 'attendances0' if att.contacts.count == 0 %>' tabindex='0' data-toggle='popover' data-container='body' data-placement='bottom' data-html='true' data-trigger='focus' data-content='
                        <div class="students-list"> </div>'>
                          <%= t('attendances.index.suspended') %>
                        </span>
                      <% else %>
                        <span class='results-count-attendances <%= 'attendances0' if att.contacts.count == 0 %>' tabindex='0' data-toggle='popover' data-container='body' data-placement='bottom' data-html='true' data-trigger='focus' data-content='
                        <div class="students-list">
                          <%= att.contacts.map{|c| link_to_contact_profile(c)}.join(' ').html_safe %>
                        </div>'>
                          <%= Attendance.human_attribute_name('contacts').capitalize %> (<%= att.contacts.count %>)
                        </span>
                      <% end %>
          
                      - <%= att.username %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class='footer-actions'>
    <%= link_to t('back'), time_slots_path, :class => 'btn btn-link' %>
  </footer>
</div>
