<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title"><%= t('.attendances') %></div>
    </div>
    <div class='panel-body'>
      <% @attendances_by_month.each do |month, attendances| %>
        <table class="table">
          <thead>
            <tr><th><%= I18n.l(month, :format => "%B") %></th></tr>
          </thead>
          <tbody>
            <% for attendance in attendances %>
              <tr>
                <td>
                  <div class="attendances">
                    <%= I18n.l(attendance.attendance_on, format: :in_context) %> - <strong><%= attendance.time_slot.try :name %></strong> (<%= link_to t('view'), attendance_path(attendance) %>)
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>