<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title"><%= t('.attendances') %></h2>
    </div>
    <% @attendances_by_month.each do |month, attendances| %>
      <table class="table">
        <tr><th><%= I18n.l(month, :format => "%B") %> (<%= t('.total') %>: <%= attendances.count %> , <%= t('.average_per_week') %>: <%= number_with_precision(attendances.count.to_f / weeks_in_month(month), precision: 2) %> )</th></tr>
          <% for attendance in attendances %>
            <tr><td>
            <div class="attendances">
              <%= I18n.l(attendance.attendance_on, format: :in_context) %> - <strong><%= attendance.time_slot.try :name %></strong> - <%= attendance.username %> - 
              <%= link_to t('edit'), edit_attendance_path(attendance), {remote: true, data: {toggle: 'modal', target: '#dialog-check-attendance'}} %>
            </div>
            </td></tr>
          <% end %>
        </div>
      </table>
    <% end %>
  </div>
</div>

<div class="modal fade modal-fixed-footer" id='dialog-check-attendance'>
</div>
