<div id="contacts-timeslots" class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to t('edit'), "#", id: 'edit-timeslots', 'data-cancel-text' => t('cancel'), 'data-edit-text' => t('edit'), class: 'btn btn-xs btn-default pull-right' %>
      <%= link_to t('save'), "javascript:$('#contacts-timeslots form').submit();", id: 'save_timeslots', class: 'btn btn-xs btn-success pull-right'
      %>
      <%= t('.timeslots') %>
    </div>
    <div class="panel-body">
      <%= form_for @contact, remote: true, method: 'PUT', id: 'timeslots_form' do |f|  %>
        <input id="timeslots-filter" class='form-control' type='text' placeholder='<%= t('time_slots.index.filter_timeslots') %>' />
        <div id="timeslots-checkboxes">
          <%= f.collection_check_boxes(:time_slot_ids,
                                       current_user.current_account.time_slots,
                                       :id,
                                       :description_with_day
              ) do |b|
                b.label { b.check_box + b.text }
              end
          %>
        </div>
      <% end -%>
    </div>
    <ul class="list-group">
      <% @time_slots.each do |t| -%>
        <li class="list-group-item"><%= t.description %></li>
      <% end -%>
    </ul>
  </div>
</div>
