<%= content_for :title do %>
  <%= @contact.name %> @ <%= t('module_name') %>
<% end -%>
<h1><%= @contact.name %></h1>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><%= t('.timeslots') %></h2>
      </div>
      <ul class="list-group">
        <% @time_slots.each do |t| -%>
          <li class="list-group-item"><%= t.name %></li>
        <% end -%>
      </ul>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><%= t('.attendances') %></h2>
      </div>
      <% @attendances_by_month.each do |month, attendances| %>
        <table class="table">
          <tr><th><%= I18n.l(month, :format => "%B") %></th></tr>
            <% for attendance in attendances %>
              <tr><td>
              <div class="attendances">
                <%= I18n.l(attendance.attendance_on, format: :in_context) %> - <strong><%= attendance.time_slot.try :name %></strong> (<%= link_to t('view'), attendance_path(attendance) %>)
              </div>
              </td></tr>
            <% end %>
          </div>
        </table>
      <% end %>
    </div>
  </div>

</div>
