<%= content_for :title do %>
  <%= @contact.name %> @ <%= t('module_name') %>
<% end -%>
<h1><%= @contact.name %></h1>
<div class="row">
  <%= render 'timeslots' %>
  <%= render 'attendances' %>
</div>