<%- breadcrum t("stats.index.title") -%>
<h3><%= show_period %></h3>
<%= link_to "<span class='glyphicon glyphicon-cloud-download'></span> #{t('download')}".html_safe, stats_url(params.merge(format: 'csv')), class: 'btn btn-default', id: 'download-link' %>
<%= form_for :stats, method: :get, url: stats_path, html: { class: 'form-horizontal', id: 'stats-form' } do |f| %>
  <div class='row'>
    <div class='col-sm-9 col-md-7'>
        <div id="stats-easy-period">
          <div class="form-group">
            <%= f.label :easy_period, t('.period'), :class => 'col-xs-5 col-md-4 control-label' %>
            <div class='col-xs-7 col-md-8'>
              <ul class="nav nav-pills date">
                <li <%= active_pill :current_month %>><%= link_to t('.current_month'), 'javascript: openCurrentMonth(); ' %></li>
                <li <%= active_pill :last_month %>><%= link_to t('.last_month'), 'javascript: openLastMonth();' %></li>
                <li <%= active_pill nil %>><%= link_to t('.custom_period'), 'javascript: showCustomMenu();' %></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="stats-custom-period">
          <div class="form-group">
            <%= f.label :start_on,t('activerecord.attributes.stat.start_on'), :class => 'col-xs-5 col-md-4 control-label' %>
            <div class='col-xs-7 col-md-8 form-inline date'>
              <div class='input-group'>
                <%= f.date_select :start_on, {},{:class => 'form-control', disabled: true} %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :end_on,t('activerecord.attributes.stat.end_on'), :class => 'col-xs-5 col-md-4 control-label' %>
            <div class="col-xs-7 col-md-8 form-inline date">
              <div class='input-group'>
                <%= f.date_select :end_on, {},{:class => 'form-control', disabled: true} %>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :distribution,t('activerecord.attributes.stat.distribution'), :class => 'col-xs-5 col-md-4 control-label' %>
          <div class='col-xs-7 col-md-8'>
            <%= select_tag :distribution, options_for_select({ t('stats.index.by_instructor') => :instructor, t('stats.index.by_time_slot') => :time_slot}, params[:distribution]), {:class => 'form-control'} %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :include_cultural_activities,t('activerecord.attributes.stat.include_cultural_activities'), :class => 'col-xs-5 col-md-4 control-label' %>
          <div class='col-xs-7 col-md-8'>
            <%= f.check_box :include_cultural_activities %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-5 col-md-4"></div>
          <div class='col-xs-7 col-md-8'>
            <%= f.submit t('stats.index.calculate_stats'), :class => 'btn btn-primary' %>
          </div>
        </div>
    </div>
</div>
<% end %>
<table id='statstable' class="table table-striped table-bordered table-hover table-condensed">
  <thead>
  	<tr>
  	  <th><%= t('stats.table.name')%></th>
  	  <th><%= t('stats.table.total')%></th>
  	  <% @distribution_names.each do |name| %>
  	  	<th colspan="2"><%= name %></th>
  	  <% end %>
  	</tr>
  </thead>
  <tbody>
  <% @contacts.each do |contact| %>
  	<tr>
  	  <td><%= link_to contact.name, contact_path(:id => contact.padma_id) %></td>
  	  <td><%= number_with_precision(contact.attendance_total || 0, precision: 0) %></td>
  	  <% @distribution.each do |name| %>
  	  	<td><%= number_with_precision contact.send("sum_#{name}"), precision: 0 %></td>
  	  	<td><%= number_to_percentage contact.attendance_total > 0 ? contact.send("sum_#{name}")/contact.attendance_total.to_f*100 : 0, :precision => 2, :strip_insignificant_zeros => true %></td>
  	  <% end %>
  	</tr>
  <% end %>
  </tbody>
</table>