  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% if  @attendance.attendance_on and  @attendance.time_slot %>
 	  <h4 class='modal-title'>
            <%= t('activerecord.attributes.attendance.attendance_to') %> "<%= @attendance.time_slot.name %>"
		    <%= t('activerecord.attributes.attendance.text_on') %> <%= l @attendance.attendance_on, format: :long %>
          </h4>
        <% else %>
          <h4 class="modal-title">Marcar Asistencia</h4>
	<% end %>
      </div>
      <div class="modal-body">
        <%= form_for @attendance, html: { class: 'checkattendance-form', role: 'form'} do |f| %>
          
	  <div class='form-group'>
	  <% if  @attendance.attendance_on and  @attendance.time_slot %>
            <div class="hidden"><%= f.date_select :attendance_on, :default => Time.zone.today %></div>
	    <%= f.hidden_field :time_slot_id %>
          <% else %>
            <%= f.label :attendance_on, :class => 'control-label' %>
            <div class='input-group date'>
              <%= f.date_select :attendance_on, {:default => Time.zone.today}, {:class => "form-control"} %>
            </div>
            <%= f.label :time_slot_id, :class => 'control-label' %>
            <div class='select'>
  	      <%= f.collection_select :time_slot_id, current_user.current_account.time_slots, :id, :name, {:prompt => t('attendances.form.select_timeslot')}, {:class => 'form-control'} %>
            </div>
          <% end %>
          </div>

          <div class='form-group'>
            <label class='control-label'>Instructor que da la clase</label>
	    <div class='select'>
	      <%= f.select :username, options_for_select(current_user.current_account.usernames, :selected => @attendance.username || current_user.username), {:prompt => t('attendances.form.select_username')},{:class => 'form-control'} %>
            </div>
	  </div>
	  
	  <% unless @trial_lessons.blank? %>
            <div class="form-group">
              <%= f.label :trial_lessons, :class => 'control-label' %>
                  <% @trial_lessons.each_with_index do |tl, index| %>
                    <div class="checkbox">
                      <%= check_box_tag "trial_lessons[]", tl.id, tl.assisted?, class: "trial_lessons", id: "trial_lessons_#{index}" %> <%= label_tag "trial_lessons[]", "#{t('attendances.form.contact_assisted', name: tl.contact.name)}"%>
                    </div>
                  <% end %>
            </div>
          <% end %>

	  <div class='form-group'>
            <%= f.label :padma_contacts, :class => 'control-label' %>
	    <ul id="attendance_contacts" class='list-unstyled'>
            <% @attendance.contacts.each do |c| %>
              <li>
                <%= hidden_field_tag "attendance[padma_contacts][]", c.padma_id %>
                <%= link_to "#{c.name}", "#", class: "delete btn btn-default btn-sm btn-block" %>
              </li>
            <% end %>
            </ul>
	  </div>

          <div class='form-group'>
            <label class='control-label'>Elige la lista de contactos:</label>
            <div class='select'>
              <%= select_tag :padma_contacts_select, options_for_select({t('attendances.form.recurrents_contacts') => :recurrent_contacts, t('attendances.form.all_contacts') => :all_students}.merge(Hash[current_user.current_account.usernames.map {|username| [t('attendances.form.students_of', teacher: username), username].flatten}]) ), {:class => 'form-control'} %>
            </div>
            <span id="loader"><%= image_tag("ajax-loader.gif") %></span>
          </div>
 
	  <fieldset id="attendance_padma_contacts">
            <%= render :partial => 'shared/padma_contacts' %>
	  </fieldset>
    
	  <div class="modal-footer">
	    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
	    <%= f.submit "Guardar asistencia", class: "btn btn-large btn-primary", style: ('display: none' if @attendance.contacts.count == 0)%>
	    <%= f.submit "No vino nadie", class: "btn btn-large btn-danger", style: ('display: none' if @attendance.contacts.count > 0)%>
          </div>

        <% end %>
      </div>
    </div>
  </div>

