<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><%= t('attendances.index.new') %></h4>
    </div>
    <% format = (@remote_form)? 'js' : 'html' -%>
    <%= form_for @attendance, remote: @remote_form, format: format, html: { class: 'checkattendance-form', role: 'form'} do |f| %>
      <div class="modal-body">
        <%= keep_params_hidden_tag %>

        <div class='form-group'>
          <%= f.label :attendance_on, :class => 'control-label' %>
          <div class='input-group date'>
            <%= f.date_select :attendance_on, {:default => Time.zone.today}, {:class => "form-control"} %>
          </div>
          <%= f.label :time_slot_id, :class => 'control-label' %>
          <div class='select'>
            <%= f.collection_select :time_slot_id, current_user.current_account.time_slots.order("name"), :id, :description_with_day, {:prompt => t('attendances.form.select_timeslot')}, {:class => 'form-control', :id => 'time_slot_modal_form'} %>
          </div>
        </div>

        <div class='form-group'>
          <label class='control-label'><%= t('attendances.form.username') %></label>
          <div class='select'>
            <%= f.select :username, options_for_select(current_user.current_account.usernames, :selected => @attendance.username || current_user.username), {:prompt => t('attendances.form.select_username')},{:class => 'form-control'} %>
          </div>
        </div>

        <% unless @trial_lessons.blank? %>
          <div class="form-group">
            <%= f.label :trial_lessons, :class => 'control-label' %>
            <% @trial_lessons.each_with_index do |tl, index| %>
              <div class="checkbox">
                <%= check_box_tag "trial_lessons[]", tl.id, tl.assisted?, class: "trial_lessons", id: "trial_lessons_#{index}" %> <%= label_tag "trial_lessons[]", "#{t('attendances.form.contact_assisted', name: tl.contact.name)}"%>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class='form-group'>
          <%= f.label :padma_contacts, "#{t('attendances.form.participants')}:", :class => 'control-label' %>
          <ul id="attendance_contacts" class='list-unstyled'>
            <% @attendance.contacts.each do |c| %>
              <li>
                <%= hidden_field_tag "attendance[padma_contacts][]", c.padma_id %>
                <%= link_to "#{c.name}", "#", class: "delete btn btn-default btn-sm btn-block" %>
              </li>
            <% end %>
          </ul>
        </div>

        <div class='form-group'>
          <label class='control-label'><%= t('attendances.form.select_contacts') %>:</label>
          <div class='select'>
            <%= select_tag :padma_contacts_select, options_for_select({t('attendances.form.recurrents_contacts') => :recurrent_contacts, t('attendances.form.all_contacts') => :all_students}.merge(Hash[current_user.current_account.usernames.map {|username| [t('attendances.form.students_of', teacher: username), username].flatten}]) ), {:class => 'form-control'} %>
          </div>
          <span id="loader"><%= image_tag("ajax-loader.gif") %></span>
        </div>

        <fieldset id="attendance_padma_contacts">
          <%= render :partial => 'shared/padma_contacts' %>
        </fieldset>
      </div>
      <footer class="modal-footer">
        <button id="cancel-attendance" type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('cancel') %></button>
        <%= f.submit t('attendances.form.save_attendance'), data: { 'disable-with' => '...' }, class: "submit-attendance btn btn-primary", style: ('display: none' if @attendance.contacts.count == 0)%>
        <%= f.submit t('attendances.form.save_empty'), data: { 'disable-with' => '...' }, class: "submit-attendance btn btn-danger", style: ('display: none' if @attendance.contacts.count > 0)%>
      </footer>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  TrialLessonSelect.setup('#time_slot_modal_form');

  <% if @remote_form -%>
    $("form.checkattendance-form").on("ajax:complete",function(){
      $(".modal").modal("hide");
    }).on("ajax:error",function(){
    }).on("ajax:success",function(){
    });
  <% end -%>
</script>
