<% att = @attendances.select {|a| a.attendance_on == date && a.time_slot == time_slot}.first %>
<% if render_time_slot?(time_slot,date,att, only_pending) -%>
  <li class="list-group-item <%= 'today' if date.today? %> <%= 'pending' if !only_pending && att.blank? && !future_lesson?(date,time_slot) %> <%= 'future-lesson' if future_lesson?(date,time_slot) %>" <%= 'future-lesson' if att.try(:suspended?) %>>
    <header class='timeslot-head'><%= time_slot.name %></header>
    <div class='timeslot-content' data-controller="attendance">
      <div class='timeslot-description'>
        <p><%= timeslot_description(time_slot, att) %></p>
        <% if att %>
          <% if att.suspended? %>
            <span class='results-count-attendances <%= 'attendances0' if att.contacts.count == 0 %>' tabindex='0' data-toggle='popover' data-container='body' data-placement='bottom' data-html='true' data-trigger='focus' data-content='
            <div class="students-list"> </div>
            <div class="clearfix popover-footer students-list-footer">
              <%= link_to t('attendances.index.destroy'), att, :method => :delete, data: { confirm: t('confirm') }, :class => 'btn btn-xs btn-block' %>
            </div>'>
              <%= t('attendances.index.suspended') %>
            </span>
          <% else %>
            <span class='results-count-attendances <%= 'attendances0' if att.contacts.count == 0 %>' tabindex='0' data-toggle='popover' data-container='body' data-placement='bottom' data-html='true' data-trigger='focus' data-content='
            <div class="students-list">
              <%= att.contacts.map{|c| link_to_contact_profile(c)}.join(' ').html_safe %>
            </div>
            <div class="clearfix popover-footer students-list-footer">
              <%= link_to t('attendances.index.edit'), edit_attendance_path(att), {remote: true, data: {toggle: 'modal', target: '#dialog-check-attendance'}, :class => "btn btn-xs pull-right"} %>
              <%= link_to t('attendances.index.destroy'), att, :method => :delete, data: { confirm: t('confirm') }, :class => 'btn btn-xs pull-left' %>
            </div>'>
              <%= Attendance.human_attribute_name('contacts').capitalize %> (<%= att.contacts.count %>)
            </span>
          <% end %>
        <% end %>
      </div>
      <% if !att %>
        <div class='timeslot-controls'>
          <%= link_to t('attendances.index.new'), new_attendance_path(keep_params.merge({attendance: {attendance_on: date, time_slot_id: time_slot.id}})), {remote: true, data: {toggle: 'modal', target: '#dialog-check-attendance'}, class: 'btn btn-primary btn-xs btn-block initialized_attendance' } %>
          <%= link_to t('attendances.index.new_empty'), attendances_path({redirect_back_w_params: keep_params.to_json}.merge({attendance: {attendance_on: date, time_slot_id: time_slot.id}, format: :js})), confirm: t('confirm'), method: :post, remote: true, class: 'btn btn-danger btn-xs btn-block empty_attendance' %>
          <%= link_to t('attendances.index.suspended'), attendances_path({redirect_back_w_params: keep_params.to_json}.merge({attendance: {attendance_on: date, time_slot_id: time_slot.id, suspended: true}, format: :js})), confirm: t('confirm'), method: :post, remote: true, class: 'btn btn-link btn-xs btn-block empty_attendance' %>
        </div>
      <% end %>
    </div>
  </li>
<% end %>
