<li class="list-group-item">
  <h4><%= time_slot.name %></h4>
  <h5><%= timeslot_description(time_slot) %></h5>
  <% if att = @attendances.select {|a| a.attendance_on == date && a.time_slot == time_slot}.first %>
    <div class="students-list">
      <%= att.contacts.map(&:name).join(', ') %>
    </div>
    <%= link_to t('attendances.index.edit'), edit_attendance_path(att), :class => 'btn' %>
    <%= link_to t('attendances.index.destroy'), att, :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
  <% else %>
    <div class="btn-group">
      <%= link_to t('attendances.index.new'), new_attendance_path(:attendance => {:attendance_on => date, :time_slot_id => time_slot.id}), :class => 'btn btn-default' %>
      <%= link_to t('attendances.index.new_empty'), attendances_path(:attendance => {:attendance_on => date, :time_slot_id => time_slot.id}), :method => :post, :class => 'btn btn-default' %>
    </div>
  <% end %>
</li>