<% att = @attendances.select {|a| a.attendance_on == date && a.time_slot == time_slot}.first %>
<% if render_time_slot?(time_slot,date,att) -%>
  <li class="list-group-item <%= 'today' if date.today? %> <!-- if attendance initialized add class "complete" | if today & next lesson add class "next" -->
    <header class='timeslot-head'><%= time_slot.name %></header>
    <div class='timeslot-content'>
      <div class='timeslot-description'>
        <p><%= timeslot_description(time_slot) %></p>
        <% if att %> <!-- show count when initialized attendance | if attendances == 0 add class "attendances0" -->
          <span class='results-count-attendances' tabindex='0' data-toggle='popover' data-container='body' data-placement='right' data-html='true' data-trigger='click' data-content='
          <div class="students-list">
            <%= att.contacts.map{|c| link_to_contact_profile(c)}.join(', ').html_safe %> <!-- remove "," -->
          </div>
          <div class="popover-footer students-list-footer">
            <%= link_to t('attendances.index.edit'), edit_attendance_path(att) %>
          </div>'>
	    (<%= att.contacts.count %>) <!-- include count contacts
            <%= link_to t('attendances.index.destroy'), att, :method => :delete, data: { confirm: t('confirm') }, :class => 'btn btn-xs btn-danger' %> -->
          </span>
        <% end %>
      </div>
      <% if !att %>
        <div class='timeslot-controls'>
          <%= link_to t('attendances.index.new'), new_attendance_path(attendance: {attendance_on: date, time_slot_id: time_slot.id}), class: 'btn btn-primary btn-xs btn-block initialized_attendance' %>
          <%= link_to t('attendances.index.new_empty'), attendances_path(:attendance => {:attendance_on => date, :time_slot_id => time_slot.id}), :method => :post, :class => 'btn btn-danger btn-xs btn-block empty_attendance' %>
        </div>
      <% end %>
    </div>
  </li>
<% end %>
