<% unless @time_slots_wout_day.empty? -%>
  <div class="alert alert-warning">
    <p><%= t('.timeslots_wout_schedule_warning') %></p>
    <ul class="list-group">
      <% @time_slots_wout_day.each do |time_slot| -%>
        <li class="list-group-item">
	  <b><%= time_slot.name %></b> <%= timeslot_description(time_slot) %> <%= link_to t('attendances.index.edit'), edit_time_slot_path(time_slot), :class => 'btn btn-default btn-xs' %> <%= link_to t('attendances.index.ignore'), time_slot_path(time_slot), :class => 'btn btn-default btn-xs ignore_unscheduled' %>
        </li>
      <% end -%>
    </ul>
  </div>
<% end -%>
