<%- breadcrum t("attendances.index.title") -%>
<%= content_for :header_submenu do %>
  <%= link_to 'Marcar asistencia', new_attendance_path, {remote: true, data: {toggle: 'modal', target: '#dialog-check-attendance'}, id: 'uninitialized_new_attendance'} %>
<% end -%>

<%= render 'warn_unscheduled_timeslots' %>

<div class='attendance-container'>
  <nav class='attendance-navbar margin-bottom-10' role='navigation'>
    <div class='filter-controls'>
      <div class='legend-date-day'>
        <span class='label-filter label-filter-inline label-filter-datepicker'><%= (Date.today - @days_to.to_i + 1).to_s(:short) %> - <%= (Date.today - @days_from.to_i).to_s(:short) %></span>
      </div>
      <div class='btn-group'>
        <%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>'.html_safe, attendances_path(username: @username, only_pending: @only_pending, days_from: @days_to, days_to: @days_to.to_i + @day_span), class: 'btn btn-secondary btn-sm' %>
        <%= link_to '<span class="glyphicon glyphicon-chevron-right"></span>'.html_safe, attendances_path(username: @username, only_pending: @only_pending, days_from: @days_from.to_i - @day_span, days_to: @days_to.to_i - @day_span), class: 'btn btn-secondary btn-sm' unless @days_from.to_i == 0 %>
      </div>

      <%= render 'search_form' %>

      <div class='filter-buttons hide' data-activates='nav-mobile' hidden>
        <button type='button' class='btn btn-secondary btn-sm' data-toggle='collapse' data-target='#attendance-filter' title='Filters' aria-expanded='false'>
          <span class='glyphicon glyphicon-filter'></span> <%= t('.filter').capitalize %>
        </button>
      </div>
    </div>
    <% if @recent.present? %>
    <div class='filter-controls filter-controls-right'>
      <div class='recent-time-slot'>
        <span class='label-filter'><%= t('.recent_time_slot') %>: <%= @recent.name %></span>
      </div>
      <%= link_to 'Marcar asistencia', new_attendance_path, {remote: true, data: {toggle: 'modal', target: '#dialog-check-attendance'}, class: 'btn btn-primary' } %>
      <a href="" class='btn btn-danger'><%= t('.new_empty') %></a>
    </div>
    <% end %>
  </nav>

  <div id='attendance-filter' class='collapse' hidden>
    <%= form_for :search, url: attendances_path, method: 'get', class: 'form-inline' do |f| %>
      <%= hidden_field_tag :days_to, @days_to %>
      <%= hidden_field_tag :days_from, @days_from %>
      <div class="form-group clearfix">
        <label class='control-label'><%= Attendance.human_attribute_name('username').capitalize %></label>
        <div class="select">
          <%= select_tag :username, options_for_select(current_user.current_account.usernames, selected: params[:username]), prompt: t('.all_teachers'), class: 'form-control' %>
        </div>
        <%= check_box_tag :only_pending, '1', @only_pending , class: 'btn btn-secondary btn-sm attendance-pending' %><%= t('.only_pending') %>
        <button id='filter-attendance-button' type='submit' class='btn btn-secondary btn-sm'><%= t('.filter') %></button>
      </div>
    <% end %>
  </div>

  <%# render 'filters_explanation' %>

    <% @view_range.each_slice(7) do |slice| -%>
  <section class='attendance-body'>
      <% slice.each do |n| %>
        <div class="panel panel-default" data-order='<%= n %>'>
          <div class="panel-heading"> <!-- add class "current-day" when day is today -->
            <% date = n.days.ago.to_date %>
            <%= l(date, format: :in_context).capitalize %>
            <% if date.month != Date.today.month -%>
              (<%= l(date, format: :month) %>)
            <% end -%>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <% @time_slots.each do |time_slot| %>
          <%= render 'attendances/time_slot', time_slot: time_slot, date: date, only_pending: @only_pending %>
              <% end %>
            </ul>
            <!--
            <% if date.today? %>
              <div class="alert alert-warning">
                <p><%= t('.timeslots_hidden_warning') %> <%= link_to t('attendances.index.toggle_hidden_timeslots'), "#", :class => "btn btn-default btn-xs", :id => "toggle-hidden-timeslots" %></p>
              </div>
            <% end %>
            -->
          </div>
        </div>
      <% end %>
  </section>
    <% end -%>

  <div class="panel panel-default" hidden>
    <div class="panel-body">
      <span>
        <%= link_to t('attendances.index.older'),
              attendances_path(
                days_from: @days_to,
                days_to: @days_to.to_i + @day_span),
              class: 'btn btn-primary' %>
      </span>
      <span class="paginate-next">
        <%= link_to t('attendances.index.newer'),
              attendances_path(
                days_from: @days_from.to_i - @day_span,
                days_to: @days_to.to_i - @day_span),
              class: 'btn btn-primary' unless @days_from.to_i == 0 %>
      </span>
    </div>
  </div>
</div>

<div class="modal fade" id='dialog-check-attendance'>
</div>
