<h3><%= t('attendances.index.title') %></h3>
<ul>
<% (0..7).each do |n| %>
	<li>
		<%= date = n.days.ago.to_date %>
		<ul>
			<% @time_slots.each do |time_slot| %>
				<% if time_slot.send(Date::DAYNAMES[date.wday].downcase.to_sym) %>
				<li>
					<%= time_slot.name %>
					<% if att = @attendances.select {|a| a.attendance_on == date && a.time_slot == time_slot}.first %>
						<%= link_to t('attendances.index.view'), att, :class => 'btn btn-mini' %>
					<% else %>
						<%= link_to t('attendances.index.new'), new_attendance_path(:attendance => {:attendance_on => date, :time_slot_id => time_slot.id}), :class => 'btn btn-mini' %>
						<%= link_to t('attendances.index.new_empty'), attendances_path(:attendance => {:attendance_on => date, :time_slot_id => time_slot.id}), :method => :post, :class => 'btn btn-mini' %>
					<% end %>
				</li>
				<% end %>
			<% end %>
		</ul>
	</li>	
<% end %>
</ul>