<%- breadcrum t("attendances.index.title") -%>

<%= content_for :header_submenu do %>
	<h2> <%= link_to t('attendances.index.new'), new_attendance_path %> </h2>
<% end -%>
      
<%= render 'warn_unscheduled_timeslots' %>

<% @view_range.each do |n| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <% date = n.days.ago.to_date %>
      <%= l(date, format: :in_context).capitalize %>
      <% if date.month != Date.today.month -%>
        (<%= l(date, format: :month) %>)
      <% end -%>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <% @time_slots.each do |time_slot| %>
          <%= render 'attendances/time_slot', time_slot: time_slot, date: date %>
        <% end %>
      </ul>

      <% if date.today? %>
        <div class="alert alert-warning">
          <p><%= t('.timeslots_hidden_warning') %> <%= link_to t('attendances.index.toggle_hidden_timeslots'), "#", :class => "btn btn-default btn-xs", :id => "toggle-hidden-timeslots" %></p>
        </div>         
      <% end %>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to t('attendances.index.older'), attendances_path(days_back: 60), class: 'btn btn-primary' %>
  </div>
</div>
