<%- breadcrum t("attendances.index.title") -%>
<%= content_for :header_submenu do %>
  <%= link_to 'Marcar asistencia', new_attendance_path, {remote: true, data: {toggle: 'modal', target: '#dialog-check-attendance'}, id: 'uninitialized_new_attendance'} %>
<% end -%>

<%= render 'warn_unscheduled_timeslots' %>

<div class='attendance-container'>
  <nav class='attendance-navbar margin-bottom-10' role='navigation'>
    <div class='filter-controls'>
      <div class='btn-group'>
        <%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>'.html_safe, attendances_path(days_from: @days_to, days_to: @days_to.to_i + @day_span), class: 'btn btn-secondary btn-sm' %>
        <%= link_to '<span class="glyphicon glyphicon-chevron-right"></span>'.html_safe, attendances_path(days_from: @days_from.to_i - @day_span, days_to: @days_to.to_i - @day_span), class: 'btn btn-secondary btn-sm' unless @days_from.to_i == 0 %>
      </div>
      <span class='label-filter label-filter-inline label-filter-datepicker'>7 - 13 de sept de 2015</span>
      <button type='button' class='btn btn-link btn-sm datepicker'>
        <span class='glyphicon glyphicon-calendar'></span>
      </button>
      <div class='filter-buttons' data-activates='nav-mobile'>
        <button type='button' class='btn btn-secondary btn-sm' data-toggle='collapse' data-target='#attendance-filter' title='Filters' aria-expanded='false'>
          <span class='glyphicon glyphicon-filter'></span> Filter
        </button>
      </div>
    </div>
    <div class='filter-controls filter-controls-right'>
      <span class='label-filter'>Clase reciente:</span>
      <%= link_to 'Marcar asistencia', new_attendance_path, {remote: true, data: {toggle: 'modal', target: '#dialog-check-attendance'}, class: 'btn btn-primary' } %>
      <a href="" class='btn btn-danger'>No vino nadie</a>
    </div>
  </nav>

  <div id='attendance-filter' class='collapse'>
    <form class='form-inline'>
      <div class='form-group clearfix'>
        <label class='control-label'>Instructor</label>
        <div class='select'>
          <select class='form-control'>
            <option>Alex Falke</option>
            <option>Instructor 1</option>
            <option>Instructor 2</option>
            <option>Instructor 3</option>
          </select>
        </div>
        <button id='filter-attendance-button' type='submit' class='btn btn-secondary btn-sm'>Filtrar</button>
        <a href='' class='btn btn-secondary btn-sm attendance-pending' data-activates='nav-mobile'>Ver clases con asistencia pendiente</a>
      </div>
    </form>
  </div>

  <div class='attendance-filter-list margin-bottom-20 hide'> <!-- show when active filters -->
    <label class='label-filter'>Filter On:</label>
    <div class='label label-success'>Pendientes <a href='' class='close'>&times;</a></div>
    <div class='label label-success'>Alex Falke <a href='' class='close'>&times;</a></div>
  </div>

  <section class='attendance-body'>
    <% @view_range.each do |n| %>
      <div class="panel panel-default" data-order='<%= n %>'>
        <div class="panel-heading"> <!-- add class "current-day" when day is today -->
          <% date = n.days.ago.to_date %>
          <%= l(date, format: :in_context).capitalize %>
          <% if date.month != Date.today.month -%>
            (<%= l(date, format: :month) %>)
          <% end -%>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @time_slots.each do |time_slot| %>
              <%= render 'attendances/time_slot', time_slot: time_slot, date: date %>
            <% end %>
          </ul>
          <!--
          <% if date.today? %>
            <div class="alert alert-warning">
              <p><%= t('.timeslots_hidden_warning') %> <%= link_to t('attendances.index.toggle_hidden_timeslots'), "#", :class => "btn btn-default btn-xs", :id => "toggle-hidden-timeslots" %></p>
            </div>
          <% end %>
          -->
        </div>
      </div>
    <% end %>
  </section>

  <div class="panel panel-default" hidden>
    <div class="panel-body">
      <span>
        <%= link_to t('attendances.index.older'),
              attendances_path(
                days_from: @days_to,
                days_to: @days_to.to_i + @day_span),
              class: 'btn btn-primary' %>
      </span>
      <span class="paginate-next">
        <%= link_to t('attendances.index.newer'),
              attendances_path(
                days_from: @days_from.to_i - @day_span,
                days_to: @days_to.to_i - @day_span),
              class: 'btn btn-primary' unless @days_from.to_i == 0 %>
      </span>
    </div>
  </div>
</div>

<div class="modal fade" id='dialog-check-attendance'>
</div>
