<%- breadcrum t("attendances.show.title") -%>

<p id="notice"><%= notice %></p>


<p>
  <b><%=Attendance.human_attribute_name :attendance_on %></b><br>
  <%= @attendance.attendance_on %>
</p>

<p>
  <b><%=Attendance.human_attribute_name :time_slot %></b><br>
  <%= @attendance.time_slot.name %>
</p>

<b><%= Attendance.human_attribute_name :trial_lessons %></b><br>
<ul>
	<% @trial_lessons.each do |tl| %>
	  <li>
      <% if tl.contact.nil? %>
        <div class="alert alert-warning" role="alert">
          <%= t('attendances.show.trial_lesson_without_contact') %>
        </div>
      <% else %>
        <%= tl.contact.name %>
        <%= content_tag :span, t(".Assisted"), :class => "label label-success" if tl.assisted? %>
        <%= content_tag :span, t(".Absent"), :class => "label label-important" unless tl.assisted? %>
      <% end %>
	  </li>	
	<% end %>
</ul>

<b><%=Attendance.human_attribute_name :contacts %></b><br>	
<ul>
	<% @attendance.contacts.each do |c| %>
	  <li><%= c.name %></li>	
	<% end %>
</ul>

<%= link_to t('edit'), edit_attendance_path(@attendance), :class => 'btn' %>
<%= link_to t('back'), attendances_path, :class => 'btn' %>
<%= link_to t('destroy'), @attendance, :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
