<nav id="navbar-1" class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">PADMA</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul id="menu-top-left" class="nav navbar-nav">
      <li><a href="<%= APP_CONFIG['crm-url']%>">PADMA</a></li>
      <li><a href="<%= APP_CONFIG['crm-url']%>">CRM</a></li>
      <li><a href="<%= APP_CONFIG['accounts-url']%>">Accounts</a></li>
      <li><a href="<%= APP_CONFIG['support-url']%>">Centro de Ayuda</a></li>
      <li><a href="<%= APP_CONFIG['fnz-url']%>">Financiero</a></li>
    </ul>
    <ul id="menu-top-right" class="nav navbar-nav navbar-right">
      <li><a id="username" href="http://padma-accounts-staging.herokuapp.com"><img src="https://secure.gravatar.com/avatar/d55ef2d05b82c322260a7148e4b8d6bb.gif?d=http://padma-crm-staging.herokuapp.com/assets/header_sessionbox_userpicture.png&r=PG&s=21">
        <%= current_user.username %>[<%=current_user.current_account.name %>]
        </a></li>
      <li>
        <%= link_to logout_url do %>
          <span class="glyphicon glyphicon-off"></span><span class="translation_missing" title="translation missing: es.logout"></span>
        <% end %>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav> 

<nav id="navbar-2" class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
      <span class="sr-only">Attendance</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <%= link_to image_tag('logo_30px.png'), root_url, class: "navbar-brand" %>
    </button>
  </div>
  <div class="collapse navbar-collapse navbar-ex2-collapse">
    <ul class="nav navbar-nav">
      <%= link_to image_tag('logo_30px.png'), root_url, class: "navbar-brand fix-logo-height" %>
      <%= content_tag :li, link_to(t('layouts.navbar.time_slots'), time_slots_url), class: ('active' if controller_name == 'time_slots') %>
      <%= content_tag :li, link_to(t('layouts.navbar.trial_lessons'), trial_lessons_url), class: ('active' if controller_name == 'trial_lessons') %>
      <%= content_tag :li, link_to(t('layouts.navbar.stats'), stats_url), class: ('active' if controller_name == 'stats') %>
    </ul>
  </div>
</nav> 