<!DOCTYPE html>
<html ng-app>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Padma Attendance" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="row">
  <%= render 'layouts/navbar' %>
  <div class="container middle-section">
    <div class="content">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" id="flash_messages">
          <%= render 'layouts/flash_messages' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 main_col_pad_none">
          <%= yield %>
        </div>

      </div><!--/row-->
    </div><!--/content-->

    <footer>
      <p>&copy; PADMA 2012</p>
    </footer>

  </div>
</div>


</body>
</html>